/autom4te.cache
/m4
/autotools
/INSTALL
/aclocal.m4
/config.h
/config.h.in
/config.log
/config.status
/configure
/libtool
/stamp-h1
.deps
.libs
*.a
*.gcda
*.gcno
*.gcov
*.la
*.lo
*.o
*.pc
Makefile
Makefile.in
NOTES
